# <font color='blue'>Federated Search</font>

This notebook demonstrates the World Modelers Federated Search API

- `/search`
- `/metadata/{data_location}/{id_value}`
- `/download_variables/{data_location}/{dataset_id}`
- `/download/{data_location}/{id_value}`
- `/search_concepts/{concept_name}`

## Usage:
A live version of the API is hosted at https://search.worldmodelers.com/. If you need login credentials, please e-mail travis@jataware.com.

To run the API locally, go to: [Federated Search](https://github.com/WorldModelers/federated-search) and follow the README instructions. 

## <font color='green'>Notes</font>
Throughout this notebook you will find notes about the usage for each endpoint and how it may differ depending on the target Datamart (ISI or NYU). Since each Datamart has its own functionality, this API abstracts these differences as much as possible, but there are instances where the differences should be noted by the end user.

 ### Federated Search Server:

In [1]:
from requests import get,post,put,delete
from io import StringIO
import pandas as pd
import requests
import json

**Please update the below credentials:**

In [2]:
## Comment out the server you do not wish to use:

# To run API on localhost, see instructions at: https://github.com/WorldModelers/federated-search
#federated_url = 'http://localhost:8080'

# To run on remote server
username = 'INSERT_USERNAME_HERE'
password = 'INSERT_PASSWORD_HERE'
federated_url = f'https://{username}:{password}@search.worldmodelers.com/'

## <font color='blue'>1. Search: </font>
### Search by keywords and/or apply time and geospatial filters
    
### endpoint: `/search`

### <font color='green'>ISI/NYU Search Notes</font>

<b>data_location</b>: "ISI" or "NYU"

#### <b>geo</b>: Currently NYU ONLY

  - bounding box (bbox):
    - Example: query_bbox
    - Latitude1/Longitude1 => Northwest point
    - Latitude2/Longitude2 => Southeast point
    - Latitude and Longitude:
      - North/East are positive
      - South/West are negative
    
  - place:
    - Example: query_place
    - Note: "place" replaces "bbox" and "area_name" key/value replaces "lat/long"
    

#### <b>keywords</b>:
  - ISI requires keywords
    - Example: query_isi
  - NYU does not require keywords
  - Both ISI and NYU perform "OR" searches; ISI via its API; NYU via Federated Search making repeated API calls for each keyword.
  
#### <b>time</b>: NYU Only  
  - Enter a start date (ISO 8601)
  - Enter an end date (ISO 8601)
  - Example: query_bbox  
  
#### <b>Hybrid Searches</b>:
  - NYU supports hybrid searches, ISI currently does not
  - NYU can have any combo of [keywords, geo (bbox or place), time]
  - Example: query_bbox

### Examples:

Query the NYU Datamart with a bounding box query:

In [3]:
query_bbox = {
  "data_location": "NYU",
  "geo": {
    "type": "bbox",
    "value": {
      "bbox": {
        "latitude1": 14.5,
        "latitude2": 32,
        "longitude1": 3,
        "longitude2": 46
      }
    }
  },
  "keywords": [
    "wfp"
  ],
  "time": {
    "end": "2020-08-31T00:00:00Z",
    "start": "2017-01-01T00:00:00Z"
  }
}

In [4]:
query = query_bbox

response = requests.post(f'{federated_url}/search',json=query)
print(json.dumps(response.json(), indent=2))

[
  {
    "data_location": "NYU Datamart",
    "dataset_id": "datamart.uaz-indicators.6ee20bafa79c5db792f0172a06e901ef",
    "description": "None",
    "name": "Net official flows from UN agencies (WDI)",
    "score": 6.463652
  },
  {
    "data_location": "NYU Datamart",
    "dataset_id": "datamart.upload.9b584d2bc04e41339d520404785e8d2c",
    "description": "WFP data for Ethiopia",
    "name": "World Food Prices",
    "score": 4.339799
  }
]

Query the NYU Datamart with a place name:

In [5]:
query_place = {
  "data_location": "NYU",
  "geo": {
    "type": "place",
    "value": {
      "place": {"area_name": "Ethiopia" }
    }
  },
  "keywords": [
    "maize", "wfp"
  ]
}

In [6]:
query = query_place

response = requests.post(f'{federated_url}/search',json=query)
print(json.dumps(response.json(), indent=2))

[
  {
    "data_location": "NYU Datamart",
    "dataset_id": "datamart.uaz-indicators.f7618fe2a85050c198929f37472ccd1d",
    "description": "None",
    "name": "Maize (white) - Retail (WFP)",
    "score": 10.560213
  }
]

Query the ISI Datamart with keywords:

In [7]:
query_isi = {
  "data_location": "ISI",
  "keywords": [
    "maize", "wfp"
  ]
}

In [8]:
query = query_isi

response = requests.post(f'{federated_url}/search',json=query)
print(json.dumps(response.json()[:2], indent=2))

[
  {
    "data_location": "ISI Datamart",
    "dataset_id": "UAZ",
    "description": "None",
    "name": " FAO: Biomass burned (dry matter), Maize[tonnes]",
    "score": 0.0607927,
    "variable_id": "VUAZ-311"
  },
  {
    "data_location": "ISI Datamart",
    "dataset_id": "UAZ",
    "description": "None",
    "name": " FAO: Direct emissions (CO2eq) (Crop residues), Maize[gigagrams]",
    "score": 0.0607927,
    "variable_id": "VUAZ-325"
  }
]

##  <font color='blue'>2. Obtain Metadata</font>
### Search APIs for metadata with known API and dataset ID

### endpoint: `/metadata/{data_location}/{id_value}`


#### For ISI and NYU:

<b>data_location</b> = "ISI" or "NYU"

<b>dataset_id</b> is the ID of the dataset of interest.

<b>variable_id</b> is the ID of the variable of interest (only applies to ISI Datamart).


Note: `z_meta` is a catch-all of all other metadata associated with the id_value that is not specified in the schema

Example of dataset level metadata from ISI Datamart:

In [9]:
# EXAMPLES: 
data_location = "ISI"
dataset_id = "WDI"

In [10]:
meta_url = f'{federated_url}/metadata/{data_location}/{dataset_id}'

In [11]:
response = requests.get(meta_url)
print(json.dumps(response.json(), indent=2))

{
  "data_location": "ISI",
  "dataset_id": "None",
  "description": "None",
  "name": "None",
  "source": "None",
  "spatial_resolution": "None",
  "temporal_resolution": "None",
  "variable_id": "None",
  "z_meta": {
    "corresponds_to_property": "None",
    "qualifier": "None"
  }
}

Example of metadata from NYU Datamart:

In [12]:
# EXAMPLES: 
data_location = "NYU"
dataset_id = "datamart.uaz-indicators.069de31ef57758da93ebde435df440a4"

In [13]:
meta_url = f'{federated_url}/metadata/{data_location}/{dataset_id}'

In [14]:
response = requests.get(meta_url)
print(json.dumps(response.json(), indent=2))

{
  "data_location": "NYU",
  "dataset_id": "datamart.uaz-indicators.069de31ef57758da93ebde435df440a4",
  "description": "None",
  "name": "Average Harvested Weight at Maturity (Maize) (None)",
  "source": "None (UAZ)",
  "spatial_resolution": "Country",
  "temporal_resolution": "None",
  "z_meta": {
    "attribute_keywords": [
      "Country",
      "State",
      "County",
      "Year",
      "Month",
      "Average Harvested Weight at Maturity (Maize) (kg/ha)",
      "Average",
      "Harvested",
      "Weight",
      "at",
      "Maturity",
      "Maize",
      "kg",
      "ha",
      ""
    ],
    "columns": [
      {
        "admin_area_level": 0,
        "name": "Country",
        "num_distinct_values": 2,
        "plot": {
          "data": [
            {
              "bin": "Ethiopia",
              "count": 68
            },
            {
              "bin": "South Sudan",
              "count": 68
            }
          ],
          "type": "histogram_categorical"
        },
        "semantic_types": [
          "http://schema.org/AdministrativeArea",
          "http://schema.org/Enumeration"
        ],
        "structural_type": "http://schema.org/Text"
      },
      {
        "name": "State",
        "num_distinct_values": 3,
        "plot": {
          "data": [
            {
              "bin": "Gambela",
              "count": 34
            },
            {
              "bin": "Jonglei",
              "count": 34
            },
            {
              "bin": "None",
              "count": 68
            }
          ],
          "type": "histogram_categorical"
        },
        "semantic_types": [
          "http://schema.org/Enumeration"
        ],
        "structural_type": "http://schema.org/Text"
      },
      {
        "name": "County",
        "num_distinct_values": 1,
        "plot": {
          "data": [
            {
              "bin": "None",
              "count": 136
            }
          ],
          "type": "histogram_categorical"
        },
        "semantic_types": [
          "http://schema.org/Enumeration"
        ],
        "structural_type": "http://schema.org/Text"
      },
      {
        "coverage": [
          {
            "range": {
              "gte": 441763200.0,
              "lte": 788918400.0
            }
          },
          {
            "range": {
              "gte": 820454400.0,
              "lte": 1136073600.0
            }
          },
          {
            "range": {
              "gte": 1167609600.0,
              "lte": 1483228800.0
            }
          }
        ],
        "mean": 962496000.0,
        "name": "Year",
        "num_distinct_values": 34,
        "plot": {
          "data": [
            {
              "count": 16,
              "date_end": "1987-04-20T09:36:00",
              "date_start": "1984-01-01T00:00:00"
            },
            {
              "count": 12,
              "date_end": "1990-08-07T19:12:00",
              "date_start": "1987-04-20T09:36:00"
            },
            {
              "count": 12,
              "date_end": "1993-11-25T04:48:00",
              "date_start": "1990-08-07T19:12:00"
            },
            {
              "count": 16,
              "date_end": "1997-03-14T14:24:00",
              "date_start": "1993-11-25T04:48:00"
            },
            {
              "count": 12,
              "date_end": "2000-07-02T00:00:00",
              "date_start": "1997-03-14T14:24:00"
            },
            {
              "count": 12,
              "date_end": "2003-10-20T09:36:00",
              "date_start": "2000-07-02T00:00:00"
            },
            {
              "count": 16,
              "date_end": "2007-02-06T19:12:00",
              "date_start": "2003-10-20T09:36:00"
            },
            {
              "count": 12,
              "date_end": "2010-05-27T04:48:00",
              "date_start": "2007-02-06T19:12:00"
            },
            {
              "count": 12,
              "date_end": "2013-09-13T14:24:00",
              "date_start": "2010-05-27T04:48:00"
            },
            {
              "count": 16,
              "date_end": "2017-01-01T00:00:00",
              "date_start": "2013-09-13T14:24:00"
            }
          ],
          "type": "histogram_temporal"
        },
        "semantic_types": [
          "http://schema.org/DateTime"
        ],
        "stddev": 309603028.67355806,
        "structural_type": "http://schema.org/Text",
        "temporal_resolution": "year",
        "unclean_values_ratio": 0.0
      },
      {
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 0.0
            }
          }
        ],
        "mean": 0.0,
        "name": "Month",
        "num_distinct_values": 1,
        "plot": {
          "data": [
            {
              "bin_end": -0.4,
              "bin_start": -0.5,
              "count": 0
            },
            {
              "bin_end": -0.3,
              "bin_start": -0.4,
              "count": 0
            },
            {
              "bin_end": -0.19999999999999996,
              "bin_start": -0.3,
              "count": 0
            },
            {
              "bin_end": -0.09999999999999998,
              "bin_start": -0.19999999999999996,
              "count": 0
            },
            {
              "bin_end": 0.0,
              "bin_start": -0.09999999999999998,
              "count": 0
            },
            {
              "bin_end": 0.10000000000000009,
              "bin_start": 0.0,
              "count": 136
            },
            {
              "bin_end": 0.20000000000000007,
              "bin_start": 0.10000000000000009,
              "count": 0
            },
            {
              "bin_end": 0.30000000000000004,
              "bin_start": 0.20000000000000007,
              "count": 0
            },
            {
              "bin_end": 0.4,
              "bin_start": 0.30000000000000004,
              "count": 0
            },
            {
              "bin_end": 0.5,
              "bin_start": 0.4,
              "count": 0
            }
          ],
          "type": "histogram_numerical"
        },
        "semantic_types": [
          "http://schema.org/Boolean"
        ],
        "stddev": 0.0,
        "structural_type": "http://schema.org/Integer",
        "unclean_values_ratio": 0.0
      },
      {
        "coverage": [
          {
            "range": {
              "gte": 0.0,
              "lte": 914.018788673017
            }
          },
          {
            "range": {
              "gte": 961.0626375888879,
              "lte": 1413.84611744742
            }
          },
          {
            "range": {
              "gte": 1918.97865988966,
              "lte": 2489.63289115147
            }
          }
        ],
        "mean": 1571.8395474011752,
        "name": "Average Harvested Weight at Maturity (Maize) (kg/ha)",
        "plot": {
          "data": [
            {
              "bin_end": 291.51801034477097,
              "bin_start": 0.0,
              "count": 2
            },
            {
              "bin_end": 583.0360206895419,
              "bin_start": 291.51801034477097,
              "count": 1
            },
            {
              "bin_end": 874.5540310343129,
              "bin_start": 583.0360206895419,
              "count": 8
            },
            {
              "bin_end": 1166.0720413790839,
              "bin_start": 874.5540310343129,
              "count": 37
            },
            {
              "bin_end": 1457.590051723855,
              "bin_start": 1166.0720413790839,
              "count": 25
            },
            {
              "bin_end": 1749.1080620686257,
              "bin_start": 1457.590051723855,
              "count": 1
            },
            {
              "bin_end": 2040.6260724133967,
              "bin_start": 1749.1080620686257,
              "count": 13
            },
            {
              "bin_end": 2332.1440827581678,
              "bin_start": 2040.6260724133967,
              "count": 33
            },
            {
              "bin_end": 2623.662093102939,
              "bin_start": 2332.1440827581678,
              "count": 13
            },
            {
              "bin_end": 2915.18010344771,
              "bin_start": 2623.662093102939,
              "count": 3
            }
          ],
          "type": "histogram_numerical"
        },
        "semantic_types": [],
        "stddev": 612.4438945195351,
        "structural_type": "http://schema.org/Float",
        "unclean_values_ratio": 0.0
      }
    ],
    "date": "2020-07-31T19:17:35.604773Z",
    "id": "datamart.uaz-indicators.069de31ef57758da93ebde435df440a4",
    "materialize": {
      "date": "2020-07-01T16:32:43.701657Z",
      "identifier": "datamart.uaz-indicators",
      "uaz_indicators_variable_prefix": "Average Harvested Weight at Maturity (Maize)",
      "uaz_source": "None"
    },
    "name": "Average Harvested Weight at Maturity (Maize) (None)",
    "nb_profiled_rows": 136,
    "nb_rows": 136,
    "sample": "Country,State,County,Year,Month,Average Harvested Weight at Maturity (Maize) (kg/ha)\r\nEthiopia,Gambela,None,1988,0,2373.7439750681197\r\nEthiopia,Gambela,None,1990,0,0.0\r\nEthiopia,Gambela,None,1992,0,2915.18010344771\r\nEthiopia,Gambela,None,1995,0,2411.15766802095\r\nEthiopia,Gambela,None,1998,0,1977.82185455317\r\nEthiopia,Gambela,None,2001,0,2257.96615921811\r\nEthiopia,Gambela,None,2002,0,2363.41739683783\r\nEthiopia,None,None,1988,0,2028.9216006535\r\nEthiopia,None,None,1991,0,2148.94495592135\r\nEthiopia,None,None,2007,0,2128.43950121558\r\nSouth Sudan,Jonglei,None,1991,0,1285.8677246163302\r\nSouth Sudan,Jonglei,None,1999,0,1225.92947530131\r\nSouth Sudan,Jonglei,None,2005,0,961.0626375888879\r\nSouth Sudan,Jonglei,None,2012,0,1149.0583297698802\r\nSouth Sudan,Jonglei,None,2016,0,1250.8755325382901\r\nSouth Sudan,None,None,1986,0,1287.62490341404\r\nSouth Sudan,None,None,1987,0,1344.1305347616699\r\nSouth Sudan,None,None,1993,0,1239.42400153301\r\nSouth Sudan,None,None,2002,0,778.7069690244971\r\nSouth Sudan,None,None,2015,0,1077.0989503810902\r\n",
    "size": 6524,
    "source": "None (UAZ)",
    "spatial_coverage": [
      {
        "admin": "Country",
        "ranges": [
          {
            "range": {
              "coordinates": [
                [
                  24.121555623,
                  14.879532166
                ],
                [
                  47.979169149,
                  3.4033334350001
                ]
              ],
              "type": "envelope"
            }
          }
        ]
      }
    ],
    "types": [
      "categorical",
      "numerical",
      "spatial",
      "temporal"
    ],
    "version": "v0.6.2-271-g42db43e"
  }
}

Additionally, we can obtain variable level metadata from the ISI Datamart:

In [15]:
# EXAMPLES: 
data_location = "ISI"
dataset_id = "UAZ"
variable_id = "VUAZ-311"

In [16]:
meta_url = f'{federated_url}/metadata/{data_location}/{dataset_id}?variable_id={variable_id}'

In [17]:
response = requests.get(meta_url)
print(json.dumps(response.json(), indent=2))

{
  "data_location": "ISI",
  "dataset_id": "UAZ",
  "description": "FAO: Biomass burned (dry matter), Maize[tonnes]",
  "name": "FAO: Biomass burned (dry matter), Maize[tonnes]",
  "source": "None",
  "spatial_resolution": "None",
  "temporal_resolution": "None",
  "variable_id": "VUAZ-311",
  "z_meta": {
    "corresponds_to_property": "P2006020317",
    "qualifier": [
      {
        "identifier": "P585",
        "name": "point in time"
      },
      {
        "identifier": "P248",
        "name": "stated in"
      }
    ]
  }
}

## <font color='blue'>3. Download Datasets</font>
### Download datasets by dataset ID

### `/download/{data_location}/{id_value}`

> Note: this is only relevant for downloading from the NYU Datamart. For downloading from ISI, use the `/download_variables` endpoint.

In [18]:
## Always NYU...
data_location = "NYU"

# Example:
dataset_id = "datamart.upload.9b584d2bc04e41339d520404785e8d2c"

In [19]:
nyu_download_url = f'{federated_url}/download/{data_location}/{dataset_id}'

In [20]:
# Display top 5 rows for ease of viewing...
response = requests.get(nyu_download_url)
df = pd.read_csv(StringIO(response.text))
df.drop(df.index[0]).head(5)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
1,7/15/2005,Sorghum - Wholesale,100 KG,cereals and tubers,238,ETB,Ethiopia,Addis Ababa,1227,Addis Ababa,480.0,65,14.0,9.0,1,480_65_14_9,NaN
2,8/15/2005,Sorghum - Wholesale,100 KG,cereals and tubers,250,ETB,Ethiopia,Addis Ababa,1227,Addis Ababa,480.0,65,14.0,9.0,1,480_65_14_9,NaN
3,9/15/2005,Sorghum - Wholesale,100 KG,cereals and tubers,248,ETB,Ethiopia,Addis Ababa,1227,Addis Ababa,480.0,65,14.0,9.0,1,480_65_14_9,NaN
4,10/15/2005,Sorghum - Wholesale,100 KG,cereals and tubers,233,ETB,Ethiopia,Addis Ababa,1227,Addis Ababa,480.0,65,14.0,9.0,1,480_65_14_9,NaN
5,11/15/2005,Sorghum - Wholesale,100 KG,cereals and tubers,252,ETB,Ethiopia,Addis Ababa,1227,Addis Ababa,480.0,65,14.0,9.0,1,480_65_14_9,NaN

## <font color='blue'>4. Download Variables </font>
### Download variables by variable ID

### `/download_variables/{data_location}/{dataset_id}`

> Note: this is only relevant for the ISI Datamart. For downloading from NYU Datamart, see `/download` endpoint.A

In [21]:
## Always ISI...
data_location = "ISI"

# Example
dataset_id= "WDI"
variable_ids = ["access_to_electricity_of_population","access_to_clean_fuels_and_technologies_for_cooking_of_population"]

In [22]:
isi_download_url = f'{federated_url}/download_variables/{data_location}/{dataset_id}'

In [23]:
response = requests.post(isi_download_url, json=variable_ids)
df = pd.read_csv(StringIO(response.text))
df.drop(df.index[0]).head(5)

,Unnamed: 0,dataset_id,variable_id,variable,main_subject,main_subject_id,value,value_unit,time,time_precision,country,admin1,admin2,admin3,region_coordinate,stated_in,stated_in_id,stated in
1,1,WDI,access_to_electricity_of_population,Access to electricity (% of population),Gabon,Q1000,76.344460,NaN,2001-01-01T00:00:00Z,year,Gabon,NaN,NaN,NaN,"POINT(11.5, -0.68333055555556)",NaN,NaN,WDI
2,2,WDI,access_to_electricity_of_population,Access to electricity (% of population),Gabon,Q1000,77.307663,NaN,2002-01-01T00:00:00Z,year,Gabon,NaN,NaN,NaN,"POINT(11.5, -0.68333055555556)",NaN,NaN,WDI
3,3,WDI,access_to_electricity_of_population,Access to electricity (% of population),Gabon,Q1000,78.251656,NaN,2003-01-01T00:00:00Z,year,Gabon,NaN,NaN,NaN,"POINT(11.5, -0.68333055555556)",NaN,NaN,WDI
4,4,WDI,access_to_electricity_of_population,Access to electricity (% of population),Gabon,Q1000,79.171516,NaN,2004-01-01T00:00:00Z,year,Gabon,NaN,NaN,NaN,"POINT(11.5, -0.68333055555556)",NaN,NaN,WDI
5,5,WDI,access_to_electricity_of_population,Access to electricity (% of population),Gabon,Q1000,81.600000,NaN,2005-01-01T00:00:00Z,year,Gabon,NaN,NaN,NaN,"POINT(11.5, -0.68333055555556)",NaN,NaN,WDI

### <font color='red'>Work in Progress... </font>

## <font color='blue'>4. Search Concepts </font>
### Search UAZ indicators for concept matchings


### `/search_concepts/{concept_name}`

> NOTE: This endpoint will be available once UAZ Concept Mapping Service integration is completed.